/Library/
/Temp/
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/OrcaJam2016-csharp.sln
/OrcaJam2016.sln
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/OrcaJam2016.userprefs
*.csproj
*.unityproj
/OrcaJam2016-csharp.v12.suo
*.v12.suo
/obj/
/obj/Debug/